.grid-actividad{
    margin-bottom: 20px;
    background-color: #d6d6d6;
    border-radius: 15px;
    height: 26vh;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    justify-content: space-around;
}

.btn-asignar{
    background-color: #403e46;
    color: #fff;
    height: 6vh;
    width: 51%;
    font-size: 12px;
    border: 0px;
    border-radius: 5px;
}

.title-grid{
    margin: 0;
}

.btn-actividad{  
    border: 0px;
    font-size: 20px;
    background-color: #F95F62;
    border-radius: 20px;
    margin-bottom: 6px;
}


