.fontsize{   
    font-size: 1rem;
}

#fontsizeTitle{   
    font-size: 2rem;
}

.input-form{
    width: 100%;
    border: 0px solid;
    border-bottom: 1px solid gray;
    border-radius: 0px;
    background-color: #78cc7800;
}

.input-form:focus{
    border: 0px solid;
    border-bottom: 2px solid #77D353;
    outline: none;
}

.button-aula{
    border-radius: 20px;
    width: 16vh;
    background: #77D353;
    color: bisque;   
    margin-top: 20px;
    border: 0px;
}

.icon-edit{
    position: absolute;
    right: 50px;
    border: 0px;
}

.back-arrow{
    position: absolute;
    transform: scale(2);
    left: 40px;
    top: 45px;
    color: gray;
}

.modal-ajuste{
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none;
    margin-top: 35%;
}

.fondo_ajustes{
    background-color: #80dc9425;

}

.fondo_formularioAustes{
    background-color: #78cc783b;
    box-shadow: 3px 3px 3px #5f9a50bd;
    width: 90%;
}

@media only screen and (min-width: 700px){
    .icon-edit{   
        position: absolute;
        right: 43px;
        border: 0px;
    }
    .back-arrow{
        left: 46px;
    }
} 
