@import url('https://fonts.googleapis.com/css2?family=Englebert&family=Roboto:wght@300&display=swap');
.generalfont{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}
.titlefont{
    font-family: 'Englebert', sans-serif;
}
.margen_header{
    margin-top: 70px;
}
#toggle_nav{
    border-radius: 50%;
    border: 2px solid white;
    opacity: 0.7;
    height: 45px;
}
#toggle_nav:focus{
    margin: 0px;
    outline: none;
}
.fondo_btn{
    background-color: #6eb62c;
}
.fondo_input{
    background-color: #78cc7800;
}
.fondo_registro{
    background-color: #80dc9425;
}
.fondo_formulario{
    background-color: #78cc783b;
    box-shadow: 3px 3px 3px #5f9a50bd;
}
.img_principal{
    border-radius: 40px;
}
.icon_comments{
    transform: scale(3.5);
    color: #6EB62C;
}
.icon_footer{
    transform: scale(2.0);
}
.footer_list{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
@media only screen and (min-width: 500px){
    .footer_list{
        width: 35%;
    }
} 
@media only screen and (min-width: 1050px){
    .footer_list{
        width: 10%;
    }
} 
@media only screen and (min-width: 576px) and (max-width: 768px){
    .image2{
        height: 50vh;
        margin-top: 16%;
    }
} 
.color_registro{
    background: linear-gradient(90deg, rgba(199,16,72,1) 0%, rgba(11,111,156,1) 49%, rgba(0,255,128,1) 100%);
}
.ingresofont{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}
.bordes{
    border:rgb(38, 141, 189) solid 4px;
    border-radius: 10px;
}