.boton{
  border: 0px;
  font-size: 1rem;
  background-color: #77D353;
  border-radius: 20px; 
  color: white;
}

@media only screen and (min-width:990px){
  #chat{
      width: 70%;
      margin-left: 27%; 
  }

  #boton{
    width: 75%;
    margin-left: 25%; 
  }
}