.input-form{
  width: 100%;
  border: 0px solid;
  border-bottom: 1px solid gray;
  border-radius: 0px;
}

.input-form:focus{
  border: 0px solid;
  border-bottom: 2px solid #77D353;
  outline: none;
}

.button-aula{
  border-radius: 20px;
  width: 35vw;
  background: #77D353;
  color: white;   
  margin-top: 20px;
  border: 0px;
  font-size: 1.4rem;
}

.aula {
  background-color: #f4f4f4;
  margin: 15px;
  border-radius: 5%;
  height: 95vh;
}