.points {
  transform: scale(1.5);
}

#points {
  justify-self: center;
}

@media only screen and (max-width: 500px) {
  .logros {
    font-size: 1.4rem;
    margin: 0 20px 0 20px;
  }

  p{
    font-size: 1.4rem;
  }

  .points {
    transform: scale(1);
  }
}
