.Pinkborder{
  border: 2px solid #F95F62 ;
  background-color: #f4f4f4;
}

.Blueborder{
  border:2px solid#207DDC ;
  background-color: #f4f4f4;
}

.Greenborder{
  border:2px solid#6EB62C;
  background-color: #f4f4f4;
}

#IndividualRoom {
  height: 230px;
}